<h1>START SELLING</h1> 
<br></br>
<br></br>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CREATE YOUR BRAND</h5>
        <br></br>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">BECOME A MANUFACTURER</h5>
        <br></br>
        <p class="card-text">Whether your an individual seamstress or a manufacturing company that makes loungewear, you can join in as a manufacturer and contribute into making good and comfy loungewear...</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>