<h1>SHOP LOUNGEWEAR PARADISE</h1>
<br></br> 
<h2>Categories:</h2>
<div class="card-deck">
  <div class="card">
    <%= image_tag 'vintage_sweater', class: "vintagesweater_image" %>
    <div class="col-md-6">
      </div>
      <div class="card-body">
      <h5 class="card-title">Vintage Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'brand_new_sweater', class: "brandnewsweater_image" %>
    <div class="card-body">
      <h5 class="card-title">New Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'eco_friendly_sweater', class: "ecofriendlysweater_image" %>
    <div class="card-body">
      <h5 class="card-title">Eco-friendly Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card">
    <%= image_tag 'hand_made_sweater', class: "handmadesweater_image" %>
    <div class="card-body">
      <h5 class="card-title">Hand-made Brands</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere imperdiet tincidunt. Proin varius elit libero, eget aliquet turpis porta quis.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
