<h1>About..</h1>

<div class="jumbotron">
    <h1 class="display-4">Shop loungewear</h1>
    <p class="lead">Lounge in luxury by finding what brands serve you best. Discover all the comfy cosies you need to look and feel good across our range of loungewear brands. </p>
    <hr class="my-4">
    <p>From classic loungewear sets, ribbed loungewear sets to snug cardigans, oversized hoodies, joggers and cosy jumpers, fall into off-duty dreams by being a part of chill people society.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/product/page" role="button">Shop here</a>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4">Create your loungewear line with us</h1>
    <p class="lead">Ever dreamed of establishing your own brand but never knew where to begin? Join our wave of chill people society and contribute into making a loungewear brand that offers appreciation to comfort.</p>
    <hr class="my-4">
    <p>Click below to start your brand today!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/startselling" role="button">Learn more</a>
    </p>
  </div>

 <!-- above is the about page that holds code. the code above was sourced from bootstrap. they display information that explains to users what they can do in the app --> 