// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.slide1_image{
    width: 210%;
    height: 210%;
}

.slide2_image{
    width: 210%;
    height: 210%;
}

.slide3_image{
    width: 210%;
    height: 210%;
}

.slide4_image{
    width: 210%;
    height: 210%;
}

.slide5_image{
    width: 210%;
    height: 210%;
}